body {
  background-color: #282c34;
  color: rgb(40, 53, 128);
  padding: 10px;
  font-family: Courier New;
  font-size: small;
  text-align: left;
}

/* HEADERS */

.big-header {
  font-style: italic;
  font-size: large;
}

h2 {
  font-size: medium;
  font-style: italic;
}

h3 {
  font-size: small;
  font-style: bold;
}

/* IMAGES */

img {
  border-radius: 70%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}

/* TABLES */

table,
th,
td {
  border: 1px solid rgb(50, 148, 155);
  width: 50%;
}

/* BUTTONS */

.btn {
  flex: 1 1 auto;
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.read-button {
  background-image: linear-gradient(
    to right,
    #33445f 0%,
    #425e6b 51%,
    #334b70 100%
  );
}

/* BREAD CRUMBS*/

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #55277a;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* INPUT BUTTONS AND FIELDS */

input[type="submit"] {
  background-color: #330d4d;
  border: none;
  color: rgb(37, 46, 133);
  padding: 16px 32px;
  text-decoration: none;
  font-style: italic;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
